
 #start{
   width: 1200px;
   height: 500px;
   margin-left: 70px;
   margin-top: 70px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  
 }
 #initial_img{
   margin-top: 60px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  
 }
 #buttonStart{
   background-color: #002d72;
   width: 150px;
   height: 50px;
   color: white;
   font-size: 20px;
   border-radius: 8px 8px;
   border-color: #002d72;
   margin-left: -220px;
   margin-top: 350px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  

 }
 #started{
   display: none;
 }
 
 
 #carousel{
  background-color: white;
  width: 1200px;
  height: 90px;
  margin-top: 20px;
  margin-left: 60px;
  
}
#cardsboard{
  width: 600px;
  height: 200px;
  margin-left: 360px;
  margin-top: -500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#first, #second, #third, #fourth{
  border-radius: 12%;
  border: 1px solid #002d72;
  display: none;
}
#card1, #card2, #card3, #card4 > p {
  font-size: 20px;
  color: #002d72;
  font-family: Helvetica-Neue;
  text-align: center;
  font-weight: bold;
  display: none;
}

#theQuestion > p{
 text-align: center;
 font-size: 25px;
 color: #002d72;
 font-weight: bold;
 font-family: Helvetica-Neue;
 display: none;
}
#ballPark  { 
  width: 1200px;
  height: 530px;
  background-size: cover;
  margin-top: 10px;
  margin-left: 60px;
  border-radius: 8%;
}

.rightAnswer{
border: 4px solid green;
border-radius: 8px 8px;
color: green;
}
.wrongAnswer{
  border: 4px solid red;
  border-radius: 8px 8px;
  color: red;
}

#score_board{
  width: 120px;
  height: 110px;
  margin-top: 88px;
  margin-left: 605px;
  display: none;
}

#quiz{
  margin-left: -1100px;
  margin-top: 280px;
}


#td{
  color: #B65429;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  
}
.th{
  color: #002d72;
}


#imgContainer{
  margin-top: 25px;
  width: 1200px;
  height: 520px;
  margin-bottom: -700px;
  margin-left: 60px;
  border-radius: 8%;
  position: relative; 
  display: none;
}

#theTag{
  padding-top: 40px;
  margin-left: 410px;
  width: 400px;
  height: 400px;
  text-align: center;
 font-size: 35px;
 color: red;
 font-family: Helvetica-Neue;
 font-weight: bold;
}
#moving_logo{
margin-left: 160px;
border-radius: 5%;
}
